<!DOCTYPE html>
<html xmlns:th="htpp://www.thymeleaf.org">

	<head th:replace="layout/template :: head(#{classroom-traditional-name} + ' ' + #{action-save-edit} )"></head>
	
	<body>	
		<section th:replace="layout/template :: header"></section> <!-- PLANTILLA:  HEADER + NAVBAR-->
		
		<h1 th:text="#{classroom-traditional-name} + ': ' + #{action-save-edit}"></h1>		
		
		<br><br>	
				
		<h3><a th:href="@{/classroom/classrooms}"> [[#{go-back}]] </a></h3>
		
		<br><br>
		
		<form th:action="@{/classroom/addTraditional}" method="post" th:object="${traditional}">
		
			<input type="hidden" name="idClassroom" th:field="*{idClassroom}"/> <!-- HIDDEN = OCULTO A LA VISTA -->
			<!-- SE AGREGA ESTE INPUT PARA DECIRLE A SPRING QUE EL OBJETO YA ESTA INSTANCIADO EN CASO DE MODIFICAR -->
			<!-- PARA QUE NO TE LO VUELVA A AGREGAR, PORQUE SUPONE QUE ES UNO NUEVO, PERO AL TENER ID, LO CONSERVA -->			
			
			<span>[[#{classroom-building}]]</span>
			<select th:field="*{building}" name="building">	
				<option th:each="building : ${listBuilding}"
					th:value="${(building.idBuilding)}" 
					th:text="${building.buildingName}">
				</option>
            </select>
			
			<label for="number"> [[#{classroom-number}]] </label>
			<input type="text" name="number" th:field="*{number}" autocomplete="off"/> <!-- th:field ES LA FORMA DE COMUNICARSE CON "th:object" -->
			<!-- ASTERISCO * SIRVE PARA SELECCIONAR EL ATRIBUTO DE th:object TANTO PARA LEER O MODIFICAR -->
			<span th:if="${#fields.hasErrors('number')}" th:errors="*{number}">ERROR numero de aula</span> <!-- validacion -->
			
			
			<div class="mb-2">
				<span>[[#{classroom-traditional-chalkboard}]]</span>
				<select th:field="*{chalkboard}" name="chalkboard" required>	
					<option value="Fibron">Fibron</option> 
				    <option value="Tiza">Tiza</option> 
				    <option value="Digital">Digital</option> 
	            </select>		  
			</div>
			
			<label for="quantityBenchs"> [[#{classroom-traditional-qtyBenchs}]] </label>
			<input type="text" name="quantityBenchs" th:field="*{quantityBenchs}" autocomplete="off"/> <!-- th:field ES LA FORMA DE COMUNICARSE CON "th:object" -->
			<!-- ASTERISCO * SIRVE PARA SELECCIONAR EL ATRIBUTO DE th:object TANTO PARA LEER O MODIFICAR -->
			<span th:if="${#fields.hasErrors('quantityBenchs')}" th:errors="*{quantityBenchs}">ERROR cantidad de bancas</span> <!-- validacion -->
			
			<br><br>
			
			<label for="hasProjector"> [[#{classroom-traditional-hasProjector}]] </label>
			<input type="checkbox" name="hasProjector" th:field="*{hasProjector}" value="false"/><!-- th:field ES LA FORMA DE COMUNICARSE CON "th:object" -->				
			
			<br><br>
				
			<input type="submit" name="save" th:value="#{action-save}"/>
			
		</form>		
		
		<footer th:replace="layout/template :: footer"></footer> <!-- PLANTILLA: PIE DE PAGINA -->
	</body>
</html>
