<!DOCTYPE html>
<html xmlns:th="htpp://www.thymeleaf.org" th:replace="layout/template :: children(~{::section}, #{classroom-laboratory-edit}, #{classroom-laboratory-edit})">
	<section class="mx-5 center">
		<div class="px-5 py-5 d-flex justify-content-center">		
			<div class="col-md-6">				
				<div class="card">
					<div class="card-header border">						
						<div class=" d-flex justify-content-center px-5 py-1 form-group ">					
							<form class="row g-6 justify-content-center align-items-center" th:action="@{/classroom/editLaboratory}" method="post" th:object="${laboratory}">								
								<div class="col-md-6 w-50 px-3">
									<a th:href="@{/classroom/classrooms}" class="btn btn-warning mt-2"><i class="fa-solid fa-arrow-left fa-lg me-1"></i>[[#{go-back}]]</a>
								</div>
								
								<!-- th:field es la forma de comunicarse con: th:object -->
								<!-- ASTERISCO *{atributoClase} Sirve para seleccionar el atributo de th:object, tanto para leer como para modificar -->
										
								<input type="hidden" name="idClassroom" th:field="*{idClassroom}" class="col-md-6 w-50 px-5"/> <!-- hidden = Oculto a la vista -->
								<!-- Se agrega este input IdClase para comunicar a Spring que el objeto ya esta instanciado en caso de una modificacion -->
								<!-- Sin esto, supondria que es uno nuevo y volveria a agregarlo a la BD -->

					            <div class="col-md-8 px-3 mt-3 mb-2">				
									<label for="number" class="form-label form-control-lg mb-0">[[#{classroom-number}]]</label>										
									<input th:field="*{number}" name="number" autocomplete="off" type="text"
									class="form-control" th:classappend="${#fields.hasErrors('number')} ? 'is-invalid' : ''"/>					
									
									<div class="invalid-feedback" th:errors="*{number}"></div><span th:if="${!#fields.hasErrors('number')}">&nbsp;</span> 
								</div>

								<div class="col-md-8 px-3 mb-2">				
									<label for="quantityPC" class="form-label form-control-lg mb-0"> [[#{classroom-laboratory-qtyPC}]]</label>										
									<input th:field="*{quantityPC}" name="quantityPC" autocomplete="off" type="text"
									class="form-control" th:classappend="${#fields.hasErrors('quantityPC')} ? 'is-invalid' : ''"/>					
									
									<div class="invalid-feedback" th:errors="*{quantityPC}"></div><span th:if="${!#fields.hasErrors('quantityPC')}">&nbsp;</span> 
								</div>

								<div class="col-md-8 px-3 mb-2">				
									<label for="quantityChairs" class="form-label form-control-lg mb-0">[[#{classroom-laboratory-qtyChairs}]]</label>										
									<input th:field="*{quantityChairs}" name="quantityChairs" autocomplete="off" type="text"
									class="form-control" th:classappend="${#fields.hasErrors('quantityChairs')} ? 'is-invalid' : ''"/>					
									
									<div class="invalid-feedback" th:errors="*{quantityChairs}"></div><span th:if="${!#fields.hasErrors('quantityChairs')}">&nbsp;</span> 
								</div>

								<div class="col-md-8 px-3 mb-3 mt-0">
									<label for="building" class="form-label form-control-lg mb-0">[[#{classroom-building}]]</label>					
									<select class="form-select center" id="building" th:field="*{building}" name="building">	
										<option th:each="building : ${listBuilding}"
											th:value="${(building.idBuilding)}" 
											th:text="${building.buildingName}">
									</option>
					            	</select>
								</div>
					            
					            <div class="col-md-6 w-50 px-3 mb-2 mt-2">
									<button type="submit" name="save" class="btn btn-success">
										<i class="fas fa-check fa-lg me-1"></i>[[#{action-save}]]
									</button>
								</div>					
							</form>							
						</div>
					</div>				
				</div>
			</div>
		</div>	
	</section>
</html>