<!DOCTYPE html>
<html xmlns:th="htpp://www.thymeleaf.org">

	<head th:replace="layout/template :: head(#{classroom-traditional-title})"></head>
	
	<body>	
		<section th:replace="layout/template :: header"></section> <!-- PLANTILLA:  HEADER + NAVBAR-->
		
		<div>
			<h2 th:text="#{classroom-traditional-name}"></h2>
			<h3><a th:href="@{/classroom/classrooms}"> [[#{go-back}]] </a></h3>
			<br>
			<hr>			
		</div>		
		
		<table>
			<thead>					
				<tr>
					<th>[[#{classroom-id}]]</th>
					<th>[[#{classroom-building}]]</th> 
					<th>[[#{classroom-number}]]</th>
					
					<th>[[#{classroom-traditional-chalkboard}]]</th>
					<th>[[#{classroom-traditional-qtyBenchs}]]</th>
					<th>[[#{classroom-traditional-hasProjector}]]</th>
				</tr>
			</thead>
			
			<tbody>																			
				<tr>
					<td th:text="${classroom.idClassroom}">Id Aula</td>
					<td th:text="${classroom.building.buildingName}">Nombre del edificio</td>
					<td th:text="${classroom.number}">Numero del aula</td>
					<td th:text="${classroom.chalkboard}">Tipo de Pizaron</td>
					<td th:text="${classroom.quantityBenchs}">Cantidad de Bancas</td>
					<td><input type="checkbox" th:field="${classroom.hasProjector}" disabled ></td>										
				</tr>												
			</tbody>
		</table>
			
		<footer th:replace="layout/template :: footer"></footer> <!-- PLANTILLA: PIE DE PAGINA -->							
	</body>	
</html>