/* GENERAL */

*, *::before, *::after /*GENERAL - TODO*/
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body /*Cuerpo de los HTML*/
{
    text-align: center;
}


div /*CONTENEDORES*/
{
    place-items: center;
    align-items: center;  
}


/* LINK */

nav /*BARRA DE NAVEGACION*/
{
	text-align: left;
    width: 100%;
    left: 0%;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color:#1C2826;
    margin-bottom: 20px;    
}

a:link, a:visited, a:active /*LINK GENERAL*/
{
    text-decoration:none;
    color: #000000;
}

h2 > a:link, h2 > a:visited, h2 > a:active, h3 > a:link, h3 > a:visited, h3 > a:active /*LINK DE TITULOS H2-H3*/
{
	color: #000000;	
}

a:hover
{
    text-decoration: underline;
    text-decoration: none;              
}

a:link, a:visited, a:active
{
   text-decoration:none;
   color: #EEECEC;		
}

td > a:link, td > a:visited, td > a:active
{
	color: #000000;	
}

ul /*COMPONENTE: TABLE*/
{
    list-style: none;
    padding: 0px;
    margin: auto; 
    top: 0%;
    font-size: 20px;
}

li, ol /*COMPONENTE: TABLE*/
{
    display: inline-block;    
    padding: 10px;
    margin: 15px 7px;
    border: 2px solid;
    color: #EEECEC;
    background-color:#7E1111;
    border: 2px solid transparent;
    border-radius: 6px;
}

ol /*COMPONENTE: TABLE*/
{
    position: absolute;    
    right: 0%;
    margin-right: 10px;
}

li, ol > a /*COMPONENTE: TABLE*/
{
    text-decoration: none;
    color: #EEECEC; 
}

.userLogin
{
	position: absolute;    
    right: 0%;
    margin-right: 200px;
    background-color:#1C2826;
}

/* TABLA */

table /*TABLA GENERAL*/
{
    text-align: center;
    table-layout: fixed;
    width: 100%;
    font-size: 25px;  
}


/* TITULOS */

h6 /*Gestion de aulas - UNLA*/
{
	text-align: center;
	color: #EEECEC;	
	position: absolute;
    transform: translate(-50%, -50%);
    top: 0%;
    left: 50%;
    margin-top:40px;
    font-size: 25px;
}

h2 /*TITULO H2*/
{
	margin-bottom: 45px;
	font-size: 45px;
}

h3 /*TITULO H3*/
{
	font-size: 25px;
}

/* PIE DE PAGINA */

footer
{
    position: fixed;
    padding: 0px;
    bottom: 0px;
    margin: 0px;
    width: 100%;
    max-width: 100%;
    text-align=center;
    background-color:#1C2826;
}


/* OTROS */

hr /*LINEA*/
{
    margin-bottom: 20px;
    width: 100%;
}

p
{
	font-size: 25px;
	margin-top: 15px;
	margin-bottom: 10px;
	color: #EEECEC;
}

label
{
    display: block;
    font-weight: 1000;
    min-height: 25px; 
    font-size: 20px;
    cursor: pointer;
}

input[type=text], input[type=password]
{
    width: 100%;
    max-width: 300px;
    border-radius: 0px;
    text-align: center;
    font-size: 15px;
    height: 30px;
    background-color:gainsboro;  
    margin: auto;
    margin-top: 2px;
    transition: .3 ease all;
    border: 2px solid transparent;
}

input[type=submit]
{
	    background: #252525;  
    align-items: center;           
    border-radius: 20px;
    font-size: large;
    color: #fff;
    cursor: pointer;
    font-weight: 800;
    margin-top: 30px;    
    width: 270px;
    box-shadow: 0px 0px 5px #666666; 	
}