/* GENERAL */

*, *::before, *::after /*GENERAL - PARA TODO*/
{
    padding: 0px;
    margin: 0px;
    transition: .2 ease all;
    transition-duration: 0.1s; 
}

.left /*A LA IZQUIERDA*/
{
	text-align: left;
}

.right /*A LA DERECHA*/
{
	text-align: right;
}

.center /*AL CENTRO*/
{
	text-align: center;	
}

.form-label
{
	border: 0px;
	border-color: inherit;
	border: 2px solid transparent;
}

footer /*PIE DE PAGINA*/
{
	background-color:#1C2826;
	opacity: 0.97;
}

.blockquote.text-center
{
	color: #EEECEC;	
}

.form-control
{
	text-align: center;
}

/*LINKS (PARA ACCEDER A UNA RUTA)*/

.link
{
	text-decoration: none;
}

.link-white
{
	color: #EEECEC;	
}

.link-white:hover
{
	color: #B2B2B2;	
}

.link-secondary
{
	color: #EEECEC;	
}

.link-secondary:hover
{
	color: #B2B2B2;	
}