<!DOCTYPE html>
<html xmlns:th="htpp://www.thymeleaf.org"
xmlns:sec="htpp://www.thymeleaf.org/extras/spring-security">

	<head th:replace="layout/template :: head(#{title-user})"></head>
	
	<body>	
		<section th:replace="layout/template :: header"></section> <!-- PLANTILLA:  HEADER + NAVBAR-->
		
		<div th:if="${listUser != null and ! listUser.empty}"> <!-- CONDICION IF -->
			<h2 th:text="#{title-user}">TITLE</h2>
			<table> <!-- TABLA -->		
				<tr> <!-- Fila de Tabla -->
					<th>[[#{user-id}]]</th> <!--Celda Encabezado de tabla (negrita) -->
					<th>[[#{user-name}]]</th> 
					<th>[[#{user-surname}]]</th>
					<th>[[#{user-username}]]</th> 
					<th>[[#{user-email}]]</th>  
					<th sec:authorize="hasRole ('ROLE_ADMIN')">[[#{action-edit}]]</th>
					<th sec:authorize="hasRole ('ROLE_ADMIN')">[[#{action-delete}]]</th>					
				</tr>
							
				<tr th:each="user : ${listUser}"> <!-- bucle fore que recorre la lista -->							
					<td th:text="${user.idUser}">Id User</td>
					<td th:text="${user.name}">Name</td> <!-- Celda de dato en la tabla -->
					<td th:text="${user.surname}">Surname</td> <!-- Celda de dato en la tabla -->
					<td th:text="${user.userName}">Username</td> <!-- Celda de dato en la tabla -->
					<td th:text="${user.email}">Email</td> <!-- Celda de dato en la tabla -->
					<td sec:authorize="hasRole ('ROLE_ADMIN')"><a th:href="@{edit/} + ${user.idUser}"> [[#{action-edit}]] </a> <!-- TYPE: PATH VARIABLE ${class.idClass}-->	
					<td sec:authorize="hasRole ('ROLE_ADMIN')"><a th:href="@{delete(idUser=${user.idUser})}"> [[#{action-delete}]]</a> <!-- TYPE: QUERY PARAMETERS -->		
				</tr>
			</table>		
		</div>
		
		<div th:if="${listUser == null or listUser.empty}">
			<h2 th:text="#{list-user-empty}">List Empty</h2>
		</div>
		
		<br> <hr width="50%">
		
		<div sec:authorize="hasRole ('ROLE_ADMIN')">
			<h3><a th:href="@{/user/addUser}" th:text="#{user-add}">ADD</a></h3>
		</div>
		
		<footer th:replace="layout/template :: footer"></footer> <!-- PLANTILLA: PIE DE PAGINA -->			
	</body>	
</html>
