<!DOCTYPE html>
<html xmlns:th="htpp://www.thymeleaf.org" xmlns:sec="htpp://www.thymeleaf.org/extras/spring-security"
th:replace="layout/template :: children(~{::section}, #{navbar-users}, #{list-user})">

	<section>
		<div class="px-5 py-5">		
			<div class="col-md-12">				
					<div class="card">
						<div class="card-header">
						
						<h2 class="center"> [[#{navbar-users}]]
							<i class="fas fa-users fa-lg me-2"></i>[[#{total-size}]] [[${listUser.size()}]]
							<a class="btn btn-primary" th:href="@{/user/addUser}" sec:authorize="hasRole('ROLE_ADMIN')"><i class="fas fa-plus fa-lg me-1"></i>[[#{user-add}]]</a>
						</h2>

						<div class="left px-5 me-0" th:if="${listUser != null and ! listUser.empty}"> <!-- CONDICION: LISTA DIFERENTE DE: NULL Y EMPTY -->						
							<table class="table table-hover align-middle align-center"> <!-- TABLA -->	
								<thead class="thead-dark">								
									<tr> <!-- Fila de Tabla -->
										<th>#</th>
										<th>[[#{user-name}]]</th>
										<th>[[#{user-surname}]]</th> <!--Celda Encabezado de tabla (negrita) -->
										<th>[[#{user-username}]]</th>
										<th>[[#{user-email}]]</th>
										<th sec:authorize="hasRole ('ROLE_ADMIN')"></th>
										<th sec:authorize="hasRole ('ROLE_ADMIN')"></th>
									</tr>
								</thead>
													
								<tbody>									
									<tr th:each="user : ${listUser}"> <!-- bucle fore que recorre la lista -->	
										<td th:text="${user.idUser}">Id User</td>
										<td th:text="${user.name}">Name</td> <!-- Celda de dato en la tabla -->
										<td th:text="${user.surname}">Surname</td> <!-- Celda de dato en la tabla -->
										<td th:text="${user.userName}">Username</td> <!-- Celda de dato en la tabla -->
										<td th:text="${user.email}">Email</td> <!-- Celda de dato en la tabla -->
										
										<td sec:authorize="hasRole ('ROLE_ADMIN')">
											<a th:href="@{edit/} + ${user.idUser}" class="btn btn-dark"><i class="fa-solid fa-pen-to-square me-1"></i>[[#{action-edit}]]</a>
										</td> <!-- TYPE: PATH VARIABLE ${class.idClass}-->	
										
										<td sec:authorize="hasRole ('ROLE_ADMIN')">
											<a th:href="@{delete(idUser=${user.idUser})}" class="btn btn-danger opacity-100"><i class="fa-solid fa-trash-can me-1"></i> [[#{action-delete}]]</a>
										</td> <!-- TYPE: QUERY PARAMETERS -->
									</tr>
								</tbody>				
							</table>						
						</div>
						<div class="text-center p-2 fw-bold mb-2 text-uppercase" th:if="${listUser == null or listUser.empty}"><hr><h2>[[#{list-empty}]]</h2></div>
					</div>				
				</div>
			</div>
		</div>
	</section>
</html>