<!DOCTYPE html>
<html xmlns:th="htpp://www.thymeleaf.org" th:replace="layout/template :: children(~{::section}, #{space-add}, #{space-add} + ': ' +${listClassroom.get(0).building.buildingName})">
	<section class="mx-5 center">
		<div class="px-5 py-5 d-flex justify-content-center">		
			<div class="col-md-6">				
				<div class="card">
					<div class="card-header border">						
						<div class=" d-flex justify-content-center px-5 py-1 form-group ">
																	
							<form class="row g-6 justify-content-center align-items-center" th:action="@{/space/addSpace/} + ${listClassroom.get(0).building.buildingName} + '-' + ${listClassroom.get(0).building.idBuilding}" method="post" th:object="${space}">								
								<div class="col-md-6 w-50 px-3">
									<a th:href="@{/building/buildings}" class="btn btn-warning mt-2" ><i class="fa-solid fa-arrow-left fa-lg me-1"></i>[[#{go-back}]]</a>
								</div>
								
								<!-- th:field es la forma de comunicarse con: th:object -->
								<!-- ASTERISCO *{atributoClase} Sirve para seleccionar el atributo de th:object, tanto para leer como para modificar -->
										
								<input type="hidden" name="idSpace" th:field="*{idSpace}" class="col-md-6 w-50 px-5"/> <!-- hidden = Oculto a la vista -->
								<!-- Se agrega este input IdClase para comunicar a Spring que el objeto ya esta instanciado en caso de una modificacion -->
								<!-- Sin esto, supondria que es uno nuevo y volveria a agregarlo a la BD -->
																
								<div class="col-md-8 px-3 mb-4 mt-3">
									<label for="classroom" class="form-label form-control-lg mb-0">[[#{space-numberClassroom}]]</label>					
									<select class="form-select center" id="classroom" th:field="*{classroom}" name="classroom">	
										<option th:each="classroom : ${listClassroom}"
											th:value="${(classroom.idClassroom)}" 
											th:text="${classroom.number}">
									</option>
					            	</select>
								</div>
								
								<div class="col-md-8 px-3 mb-0">				
									<label for="date" class="form-label form-control-lg mb-0">[[#{space-date}]]</label>										
									<input th:field="*{date}" name="date" autocomplete="off" type="date"
									class="form-control" th:classappend="${#fields.hasErrors('date')} ? 'is-invalid' : ''"/>					
									
									<div class="invalid-feedback" th:errors="*{date}"></div><span th:if="${!#fields.hasErrors('date')}">&nbsp;</span> 
								</div>							

								<div class="col-md-8 px-3">
									<label for="shift" class="form-label form-control-lg mb-0">[[#{space-shift}]]</label>					
									<select class="form-select center" id="shift" th:field="*{shift}" name="shift">	
										<option value="M">[[#{space-shift-m}]]</option> <!-- DOCUMENTO NACIONAL DE IDENTIDAD -->
									    <option value="T">[[#{space-shift-t}]]</option> <!-- LIBRETA ENROLAMIENTO -->
									    <option value="N">[[#{space-shift-n}]]</option> <!-- LIBRETA CIVICA -->
					            	</select>
								</div>

								
								<div class="col-md-12 px-3 mt-3">
									<label for="free" class="form-check-label form-control-lg mb-0 p-0">[[#{space-free}]]</label>
									<input type="checkbox" name="free" th:field="*{free}" autocomplete="off" th:value="false" class="form-check-input ms-1 m-2 p-2" id="free"/> 				
								</div>
					            
					            <div class="col-md-6 w-50 px-3 mb-2 mt-2">
									<button type="submit" name="save" class="btn btn-success">
										<i class="fas fa-check fa-lg me-1"></i>[[#{action-save}]]
									</button>
								</div>					
							</form>							
						</div>
					</div>				
				</div>
			</div>
		</div>	
	</section>
</html>