<!DOCTYPE html>
<html xmlns:th="htpp://www.thymeleaf.org" th:replace="layout/template :: children(~{::section}, #{space-edit}, #{space-edit})">
	<section class="mx-5 center">
		<div class="px-5 py-5 d-flex justify-content-center">		
			<div class="col-md-6">				
				<div class="card">
					<div class="card-header border">						
						<div class=" d-flex justify-content-center px-5 py-1 form-group ">					
							<form class="row g-6 justify-content-center align-items-center" th:action="@{/space/editSpace}" method="post" th:object="${space}">								
								<div class="col-md-6 w-50 px-3">
									<a th:href="@{/space/spaces}" class="btn btn-warning mt-2" ><i class="fa-solid fa-arrow-left fa-lg me-1"></i>[[#{go-back}]]</a>
								</div>
								
								<!-- th:field es la forma de comunicarse con: th:object -->
								<!-- ASTERISCO *{atributoClase} Sirve para seleccionar el atributo de th:object, tanto para leer como para modificar -->
										
								<input type="hidden" name="idSpace" th:field="*{idSpace}" class="col-md-6 w-50 px-5"/>		
								<input type="hidden" name="idClassroom" th:field="*{classroom}" class="col-md-6 w-50 px-5"/>
								<input type="hidden" name="idDate" th:field="*{date}" class="col-md-6 w-50 px-5"/>
								<input type="hidden" name="idShift" th:field="*{shift}" class="col-md-6 w-50 px-5"/>
								
								<div class="col-md-12 mt-5 mb-3">
										<label for="free" class="form-check-label form-control-lg mb-0 pt-0 fs-1">[[#{space-free}]]</label>
										<input type="checkbox" name="free" th:field="*{free}" autocomplete="off" th:value="false" class="form-check-input ms-0 fs-1" id="free"/> 				
								</div>
					            
					            <div class="col-md-6 w-50 px-3 mb-2 mt-2">
									<button type="submit" name="save" class="btn btn-success">
										<i class="fas fa-check fa-lg me-1"></i>[[#{action-save}]]
									</button>
								</div>					
							</form>							
						</div>
					</div>				
				</div>
			</div>
		</div>	
	</section>
</html>