<!DOCTYPE html>
<html xmlns:th="htpp://www.thymeleaf.org" xmlns:sec="htpp://www.thymeleaf.org/extras/spring-security"
th:replace="layout/template :: children(~{::section}, #{navbar-classroom}, #{list-classroom})">
	<section>
		<div class="px-5 py-5 d-flex justify-content-center">		
			<div class="col-md-6">				
					<div class="card">
						<div class="card-header">
						
						<div class="col-md-8 px-3 mb-4 mt-3">
									<label for="classroom" class="form-label form-control-lg mb-0">[[#{space-numberClassroom}]]</label>					
									<select class="form-select center" id="classroom" name="classroom">	
										<option th:each="classroom : ${aulas}"
											th:value="${(classroom.idClassroom)}" 
											th:text="${classroom.number}">
									</option>
					            	</select>
								</div>
						
						<h2 class="center"> [[#{navbar-classroom}]]
							<i class="fa-brands fa-dropbox fa-lg me-2"></i>[[#{total-size}]] [[${aulas.size()}]]
						</h2>
						<div class="left px-5 me-0" th:if="${aulas != null and ! aulas.empty}"> <!-- CONDICION: LISTA DIFERENTE DE: NULL Y EMPTY -->						
							<table class="table table-hover align-middle align-center"> <!-- TABLA -->	
								<thead class="thead-dark">								
									<tr> <!-- Fila de Tabla -->
										<th>[[#{classroom-building}]]</th> <!--Celda Encabezado de tabla (negrita) -->
										<th>[[#{classroom-number}]]</th>
									</tr>
								</thead>
													
								<tbody>									
									<tr th:each="classroom : ${aulas}"> <!-- bucle fore que recorre la lista -->
										<td th:text="${classroom.building.buildingName}">Nombre del edificio</td>
										<td th:text="${classroom.number}">Numero de aula</td>
										
										<td>			
											<a th:href="@{/classroom/classroom/} + ${classroom.idClassroom}" class="btn btn-info"><i class="fa-solid fa-magnifying-glass-plus me-1"></i>[[#{action-bring}]]</a>
										</td> <!-- NO AGREGA AUTORIZACION - TODOS PUEDEN VER EL OBJETO -->										
									</tr>
								</tbody>				
							</table>						
						</div>
						<div class="text-center p-2 fw-bold mb-2 text-uppercase" th:if="${aulas == null or aulas.empty}"><hr><h2>[[#{list-empty}]]</h2></div>
					</div>				
				</div>
			</div>
		</div>
	</section>
</html>