<!DOCTYPE html>
<html xmlns:th="htpp://www.thymeleaf.org"
xmlns:sec="htpp://www.thymeleaf.org/extras/spring-security">

	<head th:replace="layout/template :: head(#{title-role})"></head>
	
	<body>	
		<section th:replace="layout/template :: header"></section> <!-- PLANTILLA:  HEADER + NAVBAR-->
		
			<div th:if="${listBuilding != null and ! listBuilding.empty}"> <!-- CONDICION IF -->
				<h2>[[#{navbar-roles}]]</h2>
				<table> <!-- TABLA -->		
					<tr> <!-- Fila de Tabla -->					
						<th>[[#{role-id}]]</th> <!--Celda Encabezado de tabla (negrita) -->
						<th>[[#{role-name}]]</th> 
						<th sec:authorize="hasRole ('ROLE_ADMIN')">[[#{action-edit}]]</th>
						<th sec:authorize="hasRole ('ROLE_ADMIN')">[[#{action-delete}]]</th>
					</tr>
								
					<tr th:each="building : ${listBuilding}"> <!-- bucle fore que recorre la lista -->							
						<td th:text="${building.idBuilding}">Id role</td>
						<td th:text="${building.buildingName}">Name</td> <!-- Celda de dato en la tabla -->	
						<td sec:authorize="hasRole ('ROLE_ADMIN')"><a th:href="@{edit/} + ${building.idBuilding}"> [[#{action-edit}]] </a> <!-- TYPE: PATH VARIABLE ${class.idClass}-->					
						<td sec:authorize="hasRole ('ROLE_ADMIN')"><a th:href="@{delete(idBuilding=${building.idBuilding})}"> [[#{action-delete}]] </a> <!-- TYPE: QUERY PARAMETERS -->		
					</td>			
					</tr>
				</table>		
			</div>
		
		<div th:if="${listBuilding == null or listBuilding.empty}">
			<h2 align="center" th:text="#{list-role-empty}">List Empty</h2>
		</div>
		
		<br> <hr>
		
		<div sec:authorize="hasRole ('ROLE_ADMIN')">
				<h3><a th:href="@{/building/addBuilding}" th:text="#{role-add}">ADD</a></h3>
			</div>
		
		<footer th:replace="layout/template :: footer"></footer> <!-- PLANTILLA: PIE DE PAGINA -->			
	</body>	
</html>
